@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-info" })
</p>

@if (!Model.Any())
{
    <p>There is no customers to show yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Membership Type</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </table>
}

@section scripts {
    <script>
        $('#customers').on('click', '.js-delete', function () {
            bootbox.confirm('Are you sure you want to delete this customer?', function (result) {
                if (result) {
                    const button = $(this);
                    $.ajax({
                        url: '/api/customers/' + button.data().customerId,
                        method: 'DELETE',
                        success: function () {
                            button.parents('tr').remove();
                        }
                    });
                }
            });
        });
    </script>
}